@import "../styles.css";

/* div for feilmeldinger - er tom og skal i utgangspunktet være hidden */

.errorMsgDiv {
    flex-direction: column;
    align-items: center;

    width: 512px;
    height:187px;
    background-color: var(--primaryBackgroundColor);
    border: var(--primaryBorder);
    box-shadow: var(--primaryBoxShadow);
    color:#dcdcdc;
    }
  
  .errorHeadingText {
    background-color:  rgba(145, 50, 50, 0.5);
    font-size: 20px;
    color:black;
    padding: 10px 20px;
    margin: 0;
    border: 1px solid black;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    
  }

  .errorText {
    font-size: 14px;
    color:var(--primaryTextColor);

  }
  
  .showErrorMsg {

    animation-name: rotateIn;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  
  .removeErrorMsg {
    animation-name: rotateOut;
    animation-duration: 0.46s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
  }

@keyframes rotateIn {

    0% { transform:rotateX(90deg);  }
    100% { transform:rotateX(0deg);  }
}

@keyframes rotateOut {

    0% { transform:rotateX(0deg);  }
    100% { transform:rotateX(90deg);  }

}

@keyframes slideInLeft {
    0% { transform: translateX(-1300px);}
    60% { transform: translateX(20px);}
    100%{ transform: translateX(0); }
  }
  
  @keyframes slideOutLeft {
    0% { transform: translateX(0);}
    20% { transform: translateX(20px);}
    100% { transform: translateX(-1300px);}
  }