@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

:root
{
  --headerBackgroundColor: #d9d9d9;
  --primaryBackgroudColor: black;
  --lightModeBackgroundColor: rgb(150,150,150);
  --primaryTextColor: #40a0dB;
  --highPriorityColor:#e68f93;
  --mediumPriorityColor:#b3e59f;
  --lowPriorityColor:#78affa;
  --buttonColor:#d9d9d9; 
  --primaryFontFamily: "Irish Grover";

 
}

/*  Bruk klasser (class) i CSS istedet for id */

/* BODY */

body {
  margin: 0;
  padding:0;
  background-color: var(--primaryBackgroudColor);
  font-family: var(--primaryFontFamily);
  height:100vh;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 0; /* top right bottom left eks 10 15 15 10 - top/bottom - left/right */
  background-color: var(--headerBackgroundColor);
  height: 81px;
}

.logoHeader {
  padding-left: 38px;
  width : 58px; 
}

.darkLightIcon {
  width: 50px;
  padding-right: 38px;

}

.toDoText {
  color:var(--primaryTextColor);
  padding:10px;
}

.flex {
  display: flex;
}

ul {
  display: flex;
  justify-content: center;
  gap: 16px;
  list-style-type: none;
}

li {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* MAIN */

main {
  flex-grow: 1;
  margin: 30px;
}

section {
   
}

.hero {
  flex-direction: row;
  justify-content: baseline;
}

.regTaskToDoForm {
  flex-direction: column;
  justify-content: center;
  gap:24px;
  
}

.taskToDoLabel, .taskDateLabel {
  flex-direction: row;
  align-items: center;
}

.taskToDoLabel {
  gap: 38px;
}

.taskDateLabel {
  gap: 48px;
}

.taskToDo, .taskDate {
  
  background-color: lightblue;
  color:black;
  padding-left: 20px;
  border-radius: 5px;
}
.taskToDo {
  width:366px;
  height:40px;
 
}

.taskDate {
  width: 114px;
  height: 40px;
}

.taskIcon {
  width:82px;
}

.taskDateIcon {
  width:70px;
}

.taskPriorityIcon {
  width: 62px;
  align-self: baseline;
}

.taskPriorityDiv {
  align-items: center;
  gap: 57px;
}

.priority {
  align-items: center;
}

.priorityListDiv {
  flex-direction: column;
  justify-content: center;
}

.priorityText {
  color: #40a0dB;
  font-size: 26px;
  margin-top: 2px;
}

.highPriorityText, .mediumPriorityText, .lowPriorityText {
  font-size: 20px;
  margin: 2px;
}

.highPriorityText {
  color:var(--highPriorityColor);

}

.mediumPriorityText {
  color:var(--mediumPriorityColor);
}

.lowPriorityText {
  color:var(--lowPriorityColor);
}

.addTaskToListButton {
  font-family: var(--primaryFontFamily);
  font-size: 24px;
  width:472px;
  height:54px;
  border-radius: 5px;
  border:1px solid var(--primaryTextColor);
  background-color:var(--headerBackgroundColor);
  color:black;
  margin-top: 23px;
}

/* så over til selve listen og knappene til den */

.toDoListDiv {
  width: 577px;
  height: 650px;
  background-color: var(--headerBackgroundColor);
  border: 3px solid var(--primaryTextColor);
  border-radius: 3px;
  margin:0px;

}

.listHeadingDiv {
  width:100%;
  justify-content: space-between;
  
}

.buttonDiv {
  flex-direction: column;
  justify-content: center;
}



















/* FOOTER */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Source Sans 3';
  color: white;
  text-align: center;
  background-color: gray;
  height: 100px;
}

.kodeloftlogo {
  width: 90px;
  padding: 28px;
}

.footertext {
  color: rgb(220, 220, 220);
  margin: 0;
}

.emailandgithub {
  display: flex;
  gap: 20px;
  padding-right: 50px;
}
