@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

:root
{
  --headerBackgroundColor: #d9d9d9;
  --primaryBackgroudColor: black;
  --lightModeBackgroundColor: rgb(221,221,221);
  --primaryTextColor: #40a0dB;
  --highPriorityColor:#e68f93;
  --mediumPriorityColor:#b3e59f;
  --lowPriorityColor:#78affa;
  --buttonColor:#d9d9d9; 
  --primaryFontFamily: "Irish Grover";

 
}

/*  Bruk klasser (class) i CSS istedet for id */

/* BODY */

body {

  background-color: var(--primaryBackgroudColor);
  font-family: var(--primaryFontFamily);
  
  height:100%;
  margin:0;

  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

p {
  margin: 5px;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 0; /* top right bottom left eks 10 15 15 10 - top/bottom - left/right */
  background-color: var(--headerBackgroundColor);
  height: 81px;
}

.logoHeader {
  padding-left: 38px;
  width : 58px; 
}

.darkLightIcon {
  width: 50px;
  padding-right: 38px;

}

.toDoText {
  color:var(--primaryTextColor);
  padding:10px;
}
 
.flex {
  display: flex;
}

ul {
  display: flex;
  justify-content: center;
  gap: 16px;
  list-style-type: none;
}

li {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* MAIN */

.hidden {
  display: none;
}

.show {
  display: block;
}

.lightMode {
  background-color: var(--lightModeBackgroundColor);
  --headerBackgroundColor: rgb(160, 160, 160);
  --highPriorityColor:darkred;
  --mediumPriorityColor: darkgreen;
  --lowPriorityColor:darkblue;
  --primaryTextColor:darkblue;
}


main {
  flex-grow: 1;
  margin: 40px;
}


.hero {
  flex-direction: row;
  justify-content:center;
  gap: 53px;
}

.regTaskToDoForm {
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  gap:24px;
  background-color: black;

  
}

.taskToDoLabel, .taskDateLabel {
  flex-direction: row;
  align-items: center;
}

.taskToDoLabel {
  gap: 38px;
}

.taskDateLabel {
  gap: 48px;
}

.taskToDoInput, .taskDateInput {
  
  background-color: lightblue;
  color:black;
  padding-left: 10px;
  border-radius: 5px;
}
.taskToDoInput {
  width:366px;
  height:40px;
 
}

.taskDateInput {
  width: 100px;
  height: 40px;
}

.taskIcon {
  width:82px;
}

.taskDateIcon {
  width:70px;
}

.taskPriorityIcon {
  width: 62px;
  align-self: baseline;
}

.taskPriorityDiv {
  align-items: center;
  gap: 57px;
}

.taskPriorityCheck {
  width:30px;
  height:30px;
  border-radius: 3px;
  accent-color: lightblue;


}

.priority {
  align-items: center;
}

.priorityListDiv {
  flex-direction: column;
  justify-content: center;

}

.priorityText {
  color: #40a0dB;
  font-size: 26px;
  margin-top: 2px;

}

.highPriorityText, .mediumPriorityText, .lowPriorityText {
  font-size: 20px;
  margin: 2px;
  margin-left: 20px;
}

.highPriorityText {
  color:var(--highPriorityColor);

}

.mediumPriorityText {
  color:var(--mediumPriorityColor);
}

.lowPriorityText {
  color:var(--lowPriorityColor);
}

.addTaskToListButton {
  font-family: var(--primaryFontFamily);
  font-size: 24px;
  width:512px;
  height:54px;
  border-radius: 5px;
  border:1px solid var(--primaryTextColor);
  background-color:var(--headerBackgroundColor);
  color:black;
  margin-top: 23px;
}

/* div for feilmeldinger - er tom og skal i utgangspunktet være hidden */

.errorMsgDiv {
  width: 512 px;
  height:187px;
  background-color: rgb(145, 50, 50);
  border:2px solid #78affa;
  color:white;
  }

.errorHeadingText {
  background-color: #78affa;
  color:black;
  padding-left: 10px;
  margin: 0;
  border: 1px solid black;
}

.showErrorMsg {
  display: block;
  animation-name: slideInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.removeErrorMsg {
  animation-name: slideOutLeft;
  animation-duration: 1.2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes slideInLeft {
  0% { transform: translateX(-1300px);}
  60% { transform: translateX(20px);}
  100%{ transform: translateX(0); }
}

@keyframes slideOutLeft {
  0% { transform: translateX(0);}
  20% { transform: translateX(20px);}
  100% { transform: translateX(-1300px);}
}

/* så over til selve listen og knappene til den */

.toDoListDiv {
  flex-direction: column;
  width: 780px;
  height: 650px;
  background-color: rgb(50, 50, 50);
  border: 6px solid var(--primaryTextColor);
  border-radius: 5px;
  margin:0px;


}

.toDoList {
  display: flex;
  flex-direction: column;
  padding-left: 17px;
  width: 100%;
  margin: 0;
  gap: 10px;
}

.listButton {
  width: 75px;
  height: 32px;

  font-family: var(--primaryFontFamily);
  font-size: 10px;
  text-decoration: none;

}

.listElement {
 
  display: grid;
  grid-template-columns: 100px 430px 100px 100px;
  margin: 10px;
  padding: 0;
  font-size: 15px;
  margin: 0px;
  justify-items: left;
}

.listHeadingDiv {
  width:100%;
  justify-content: space-between;
  align-items: center;

  height: fit-content;

   background-color: #add8e6; 
  border: 1px solid black;
  margin-bottom: 10px;
  
}

.listTextDiv {
  gap: 22px;
}
.sortListButton {
  font-family: var(--primaryFontFamily);
  margin-right: 73px;
  /* height: 20px; */
}

.taskDone {

  text-decoration: line-through;

}
.listHeadingText {
 padding-left: 20px;
 
}

.buttonDiv {
  flex-direction: column;
  justify-content: center;
  gap: 37px;
}

.taskCompletedButton, .taskDeleteButton {
  font-family: var(--primaryFontFamily);
  font-size: 15px;
  width : 216px;
  height: 75px;
  background-color: var(--headerBackgroundColor);
  border: 1px solid var(--primaryTextColor);
  border-radius: 5px;
  align-items: center;
  gap: 15px;
  padding-left:20px;
}

.taskCompletedImg {
  width: 39px;
}

.taskDeleteImg {
  width: 45px;
}

.removeListItem {
  animation: slideOutBottom;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.addListItem {
  animation: slideInBottom;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.getTextToListAnim {
  animation: slideOutLeft;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

/* prøve dette i morgen - label skal ha position: relative */

.textOverlaySpan {
  position: absolute;
  top : 0;
  left : 0;
  color:black;
  opacity:0;
}

.rotateStickyNote {

}


@keyframes slideOutBottom {
  0% { transform:translateY(0);}
  100% { transform:translateY(1200px); }
}

@keyframes slideInBottom {
  0% { transform:translateY(1200px);}
  100% { transform:translateY(0); }
}

@keyframes slideOutLeft {
  0% { transform:translateX(0);
       transform:translateY(0);
      }
  15% { transform:translateY(50px);
       transform:tranlateX(0); }
  50% { transform:translateX(-1200px);}
  100% { transform: translateY(0);
         transform:translateX(0);}
}


/* FOOTER */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-align: center;
  background-color: var(--headerBackgroundColor);
  height: 81px;
  margin:0;
}

.kodeloftLogoImg {
  width: 90px;
  padding: 28px;
}

.myInfoWrapper {
  gap: 38px;
  align-items: center;
}

.footerText {
  color:black;
  margin: 2px;
}

.footerTextName {
  color:var(--primaryTextColor);
  margin:0;
}

.contactInfo {
  display: flex;
  gap: 20px;
  padding-right: 50px;
}
