/* module imports */

@import url("./css/errorMsgDiv.css");

/* font imports */

@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

:root
{
  --headerBackgroundColor: #d9d9d9;
  --primaryBackgroudColor: rgba(50, 50, 50, 0.6);
  --primaryBorder : 2px solid #40a0db;
  --lightModeBackgroundColor: rgb(221,221,221);
  --primaryTextColor: #40a0dB;
  --highPriorityColor:#e68f93;
  --mediumPriorityColor : darkgreen;
  --mediumPriorityColor:#b3e59f;
  --lowPriorityColor:#78affa;
  --buttonColor:#d9d9d9; 
  --primaryFontFamily: "Irish Grover";

 
}

/*  Bruk klasser (class) i CSS istedet for id */

/* BODY */

body {

  background-color: var(--primaryBackgroudColor);
  font-family: var(--primaryFontFamily);
  /* display:flex;   */
  height:100%;

  margin:0;
  top:0;
  padding:0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  min-height: 100vh;  
  overflow-y: hidden;
  background-image: url("Images/writinglist.jpg");
  background-size: cover;
}

p {
  margin: 5px;
}

a {
  color:var(--highPriorityColor);
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 0; /* top right bottom left eks 10 15 15 10 - top/bottom - left/right */
  background-color: var(--headerBackgroundColor);
  height: 81px;
  
  /* from hero pattens */

  background-color: #d9d9d9;
  background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%2318141e' fill-opacity='0.17' fill-rule='evenodd'/%3E%3C/svg%3E");
  box-shadow: 5px 8px 15px 5px #000000;


}

.logoHeader {
  padding-left: 38px;
  width : 58px; 
}

.darkLightIcon {
  width: 50px;
  padding-right: 38px;

}

.toDoText {
  color:var(--primaryTextColor);
  padding:10px;
  text-shadow: 3px 1px 2px black;
}
 
.flex {
  display: flex;
}

ul {
  display: flex;
  justify-content: center;
  gap: 16px;
  list-style-type: none;
}

li {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* MAIN */

.hidden {
  display:none;
}

.show {
  display: block;
}

.showCredit {
  display: flex;
}

.lightMode {

  --headerBackgroundColor: rgb(160, 160, 160);
  --highPriorityColor:darkred;
  --mediumPriorityColor: darkgreen;
  --lowPriorityColor:darkblue;
  --primaryTextColor:darkblue;
  background-color: var(--lightModeBackgroundColor);
  .regTaskToDoForm { background-color: rgba(221,221,221, 0.6);}
  .toDoListDiv { background-color: rgba(200,200,200, 0.6);}
}


main {
 flex-grow: 1;
  margin: 40px;

}


.hero {
  flex-direction: row;
  justify-content:center;
  gap: 53px;
}

.regTaskToDoForm {
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  gap:24px;
  padding-left : 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color:var(--primaryBackgroudColor);
  border-radius: 5px;
  border: var(--primaryBorder);
  box-shadow: 5px 8px 21px 2px #000000;

  animation-name: slideInTop;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;

  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
}

.regTaskToDoForm:hover {

}

@keyframes slideInTop {
  0% { transform:translateY(-1000px);}
  60% { transform:translateY(100px);}
  100% { transform: translateY(0);}
}


.taskToDoLabel, .taskDateLabel {
  flex-direction: row;
  align-items: center;
}

.taskToDoLabel {
  gap: 38px;
}

.taskDateLabel {
  gap: 48px;
}

.taskToDoInput, .taskDateInput {
  
  background-color: lightblue;
  color:black;
  padding-left: 10px;
  border-radius: 5px;
}
.taskToDoInput {
  width:366px;
  height:40px;
 
}

.taskDateInput {
  width: 100px;
  height: 40px;
}

.taskIcon {
  width:82px;
}

.taskDateIcon {
  width:70px;
}

.taskPriorityIcon {
  width: 62px;
  align-self: baseline;
}

.taskPriorityDiv {
  align-items: center;
  gap: 57px;
}

.taskPriorityCheck {
  width:30px;
  height:30px;
  border-radius: 3px;
  accent-color: lightblue;


}

.priority {
  align-items: center;
}

.priorityListDiv {
  flex-direction: column;
  justify-content: center;

}

.priorityText {
  color: #40a0dB;
  font-size: 26px;
  margin-top: 2px;

}

.highPriorityText, .mediumPriorityText, .lowPriorityText {
  font-size: 20px;
  margin: 2px;
  margin-left: 20px;
}

.highPriorityText {
  color:var(--highPriorityColor);

}

.mediumPriorityText {
  color:var(--mediumPriorityColor);
}

.lowPriorityText {
  color:var(--lowPriorityColor);
}

.addTaskToListButton {
  font-family: var(--primaryFontFamily);
  font-size: 24px;
  width:512px;
  height:54px;
  border-radius: 5px;
  border:1px solid var(--primaryTextColor);
  background-color:var(--headerBackgroundColor);
  color:black;
  margin-top: 23px;
  transition: all;
  transition-timing-function: ease-in-out;

  transition-duration: 0.3s;
  
}

.addTaskToListButton:hover {
  border: 3px solid darkgoldenrod;
  color: lightskyblue;
  background-color: rgb(100, 100, 100);
  transform:rotateX(360deg);
}


.regErrorWrapperDiv {
  display: flex;
  flex-direction: column;
  gap: 30px;
}



.creditIconDiv 
{
  position: fixed;
  bottom:110px;
  background-color:  var(--primaryBackgroudColor);
  border : var(--primaryBorder);
  flex-direction: column;
  padding: 25px;
  width:fit-content;
  align-self: center;
}

.creditButton {
  width : 70px;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.creditButton:hover {
  border: var(--primaryBorder);
  scale : 1.1;
  border : 2px double rgb(9, 48, 52);
  color: var(--lowPriorityColor);
  transform:rotateY(360deg);
  
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1.2s;
  animation-delay: 0s;
  animation-fill-mode: forwards;

}

@keyframes fadeIn {
  0%  { opacity : 0; }
  100% {opacity: 1;}
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-fill-mode: forwards;

}

@keyframes fadeOut {
  0%  { opacity : 1; }
  100% { opacity: 0; }

}

.getTextToListAnim {
  /* animation: slideOutLeft;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; */
}

/* prøve dette i morgen - label skal ha position: relative */

.textOverlaySpan {
  position: absolute;
  top : 0;
  left : 0;
  color:black;
  opacity:0;
}

.rotateStickyNote {

}

/* kutter ut det ovenfor */



@keyframes slideOutBottom {
  0% { transform:translateY(0);}
  100% { transform:translateY(1200px); }
}

@keyframes slideInBottom {
  0% { transform:translateY(1200px);}
  100% { transform:translateY(0); }
}



/* FOOTER */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-align: center;
  /* background-color: var(--headerBackgroundColor); */
  height: 81px;
  margin:0;
  box-shadow: 5px -8px 15px 5px #000000;
  background-color: #d9d9d9;
  background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%2318141e' fill-opacity='0.17' fill-rule='evenodd'/%3E%3C/svg%3E");
  /* box-shadow: 5px 8px 15px 5px #000000; */
}

.creditButton {
  font-family: var(--primaryFontFamily);
  width: 150px;
  height: 30px;
}

.kodeloftLogoImg {
  width: 90px;
  /* padding: 28px; */
  padding-left : 28px;
}

.myInfoWrapper {
  gap: 38px;
  align-items: center;
}

.footerText {
  color:black;
  margin: 2px;
}

.footerTextName {
  color:var(--primaryTextColor);
  margin:0;
}

.contactInfo {
  display: flex;
  gap: 20px;
  padding-right: 50px;
}
